<html>
    <head>
        <title>Sign Up to TeleMed</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'hm_auth/style1.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@600&family=Lobster&family=Nanum+Myeongjo&family=Playfair+Display:ital,wght@0,400;1,500&family=Quicksand:wght@300;700&family=Space+Mono&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    </head>
    
    <body>
            <form action="" method="post">
                {% csrf_token %}
                <input type="email" name="email" id="email" placeholder="someone@example.com">
                <input type="password" name="password" id="password" placeholder="Password">
                <button class="login-submit-button" type="submit"><span>L O G I N</span></button>
            </form>
            <div class="error-message">
                <span>{{ error_message }}</span>
            </div>
            <div class="note">
                <span>{{ note }}</span>
            </div>
            
        </div>
    </body>